[Desktop Entry]
Name=ClickUp
Exec=/usr/bin/clickup
Terminal=false
Type=Application
Icon=clickup
Categories=Office;ProjectManagement;
Comment=All-in-one collaboration and project management tool
